.close {
	color: white;
	opacity: 1;
	float: none;
	background-color: #7E57C2;
}

.selected-icon {
	height: 150px;
}

.selected-name {
	color: black;
}

.btn-selected {
	width: 150px !important;
	background-color:#7E57C2;;
	color: white;
	border: 1px solid #7E57C2;
	font-weight: 500;
	font-size: 14px;
}


.badge .material-icons {
	font-size: 12px;
}